.wy-nav-side {
	background-color: #000;
}
a,h1 {
	color: #c3193c;
}

h3 {
	color: #0C71C3;
}

.wy-menu a:visited {
	color: #fff;
}

.wy-side-nav-search {
	background-color: #0C71C3;
}

.wy-side-nav-search input[type=text] {
	border-color: #666;
}

.wy-side-nav-search>a, .wy-side-nav-search .wy-dropdown>a {
	font-family: "Roboto Slab","ff-tisa-web-pro","Georgia",Arial,sans-serif;
	font-size: 125%;
	margin-bottom: 0.5em;
}

a.icon-home,a.icon-home:visited,a.icon-home:active,a.icon-home:hover {
	color: #fff;
}


/*Helper Classes*/

.top-5{
	margin-top: 5px;
}

.top-10{
	margin-top: 10px;
}

.top-15{
	margin-top: 15px;
}

.top-20{
	margin-top: 20px;
}

.top-30{
	margin-top: 30px;
}

.bottom-5{
	margin-bottom: 5px;
}

.bottom-10{
	margin-bottom: 10px;
}

.bottom-15{
	margin-bottom: 15px;
}

.bottom-20{
	margin-bottom: 20px;
}

.bottom-30{
	margin-bottom: 30px;
}

.right-5{
	margin-right: 5px;
}

.right-10{
	margin-right: 10px;
}

.right-15{
	margin-right: 15px;
}

.right-20{
	margin-right: 20px;
}

.right-30{
	margin-right: 30px;
}

.left-5{
	margin-left: 5px;
}

.left-10{
	margin-left: 10px;
}

.left-15{
	margin-left: 15px;
}

.left-20{
	margin-left: 20px;
}

.left-30{
	margin-left: 30px;
}